@media screen  and (min-width:320px) and (max-width:359px){
    .page-title h1{
        font-size: 1em;
    }

    .modes-tab-buttons button{
        padding-bottom: 0;
    }

    .header-message h2{
        font-size: 1em;
    }

    .header-message{
        margin: 0;
        transform: translateY(5px);
    }

    .header-message p{
        font-size: 0.8em;
    }

    .brand-primary{
        height: 3vh;
    }

    .brand-secondary{
        height: 3vh;
    }
    
    /* SEARCH BAR//////////////////////////////////////////////////////////////////// */

    main{
        margin-top: 15px;
    }
    
    .search-div{
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .search-div span:nth-child(1){
        width: 11%;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .search-icon{
        font-size: 0.9em;
        transform: translateY(2px);
    }
    
    .search-field{
        width: 89%;
        padding: 15px 0  10px 0;
        position: relative;
    }

    .search-field:placeholder-shown{
        font-size: 0.9em;
    }

    .search-field:focus{
        font-size: 0.9em;
    }

    .search-options{
        width: 50%;
        border-top: 1px solid #DDDDDD;
        padding: 5px 0 5px 10px;
    }

    .search-options::before{
        width: 0;
        height: 0;
    }

    .search-sort-option{
        border-right: 1px solid #DDDDDD;
    }

    .search-options p:nth-child(1){
        width: 100%;
        font-size: 0.6em;
        margin-bottom: 3px;
    }

    .search-options p:nth-child(2){
        font-size: 0.8em;
    }
    
    .search-down-arrow{
        font-size: 0.7em;
        transform: translateY(0);
    }
}


@media screen  and (min-width:360px) and (max-width:767px){
    .page-title h1{
        font-size: 1.2em;
    }

    .modes-tab-buttons button{
        padding-bottom: 0;
    }

    .header-message h2{
        font-size: 1.3em;
    }

    .header-message{
        transform: translateY(8px);
    }

    .header-message p{
        font-size: 1em;
    }

    .brand-primary{
        height: 5vh;
    }

    .brand-secondary{
        height: 5vh;
    }

    /* SEARCH BAR//////////////////////////////////////////////////////////////////// */

    main{
        margin-top: 15px;
    }

    .search-div{
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .search-div span:nth-child(1){
        width: 10%;
        padding:0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .search-icon{
        font-size: 0.9em;
        transform: translateY(3px);
    }
    
    .search-field{
        width: 90%;
        padding: 15px 0  10px 0;
        position: relative;
    }

    .search-field:placeholder-shown{
        font-size: 0.9em;
    }

    .search-field:focus{
        font-size: 0.9em;
    }

    .search-options{
        width: 50%;
        border-top: 1px solid #DDDDDD;
        padding: 5px 0 5px 10px;
    }

    .search-options::before{
        width: 0;
        height: 0;
    }

    .search-sort-option{
        border-right: 1px solid #DDDDDD;
    }

    .search-options p:nth-child(1){
        width: 100%;
        font-size: 0.6em;
        margin-bottom: 0;
    }

    .search-options p:nth-child(2){
        font-size: 0.8em;
    }

    .search-down-arrow{
        font-size: 0.9em;
        transform: translateY(0);
    }

}


@media screen  and (min-width:768px) and (max-width:1024px){
    .header-message{
        transform: translateY(3px);
    }

    .brand-primary{
        height: 7vh;
    }

    .brand-secondary{
        height: 7vh;
    }
    
    /* SEARCH BAR//////////////////////////////////////////////////////////////////// */

    main{
        margin-top: 15px;
    }

    .search-field{
        width: 60%;
    }

    .search-div span:nth-child(1){
        width: 7%;
    }

    .search-options{
        width: 16.5%;
    }

    .search-down-arrow{
        font-size: 0.9em;
    }
}


@media screen  and (min-width:1025px) and (max-width:1280px){
    .header-message{
        transform: translateY(-3px);
    }

    /* SEARCH BAR//////////////////////////////////////////////////////////////////// */

    main{
        margin-top: 15px;
    }

    .search-field{
        width: 60%;
    }

    .search-div span:nth-child(1){
        width: 7%;
    }

    .search-options{
        width: 16.5%;
    }

}



