/* GLOBAL //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito-Sans;
    src: url(../../Vendor/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

:root{
    --brand-primary:#0768AC;
    --brand-secondary: #03C180;
    --bg_default:#FFFFFF;
    --bg_body:#F0F9FF;
    --lines-color:	#DDDDDD;
    --body-text:#333333;
    --heart-color:#DC143C;
}

.dark-mode{
    --brand-primary:#0768AC !important;
    --brand-secondary: #03C180 !important;
    --bg_default:#1A1A1A !important;
    --bg_body:#282828 !important;
    --lines-color:#000000 !important;
    --body-text:#EDEDED !important;
    --heart-color:#DC143C !important;
}

.container{
    padding-inline:4%;
}

body{
    font-family: Nunito-Sans;
    background-color: var(--bg_body);
    line-height: normal; 
}

h3, h4, h5, h6, p{
    color: var(--body-text);
}

/* custom styles for Javascript to use////////////////////////////////////////////////////////////// */

.heart-icon-red-color{
    color: var(--heart-color);
}

/* custom styles for Javascript to use////////////////////////////////////////////////////////////// */


/* END OF GLOBAL///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* HEADER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header{
    background-color: var(--bg_default);
    height: 70px;
    transition: background-color ease-in 0.5s;
    position: relative;
}

.header-container{
    box-shadow: 0px 0px 5px -1px rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.page-modes{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title h1{
    font-size: 0.99rem;
    color: var(--brand-primary);
    font-weight: 600;
    cursor: pointer;
}

.page-title a{ /*for the standalnoe details page*/
    font-size: 0.99rem;
    color: var(--brand-primary);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.modes-buttons{
    font-family: Nunito-Sans;
    font-size: 0.9rem;
    background-color: transparent;
    border: 1px solid var(--lines-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mode-icon{
    transform:translateY(2px) ;
}

#dark-mode-button:hover{
    background-color: black !important;
    color: var(--bg_default) !important;
    border: 1px solid black !important;
}

/* BANNER SECTION/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.banner-section{
    transition: background-color ease-in 0.5s;
    background-color: var(--bg_default);
}

.banner{
    position: relative;
}

.banner-primary{
    height: 67.5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(47deg, rgba(7,104,172,1) 0%, rgba(5,156,146,1) 62%, rgba(7,104,172,0.1923144257703081) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.banner-secondary{
    width: 100%;
    height: 67.5px;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    background: linear-gradient(47deg, rgba(255,255,255,0) 0%, rgba(3,193,128,1) 44%);
}

.banner-custom-container{
    padding-bottom: 5px;
}

.banner-message{
    width: fit-content;
    margin: auto;
    transform: translateY(-15px);
    line-height: 1.2;
}

.banner-message h2{
    color: var(--brand-secondary);
    font-size: 1.279em;
    font-weight: 800;
}

.banner-message p{
    font-size: 1.01em;
    font-weight: 300;
}

/* SEARCH BAR/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.search-section{
    /* overflow: hidden; */
    opacity: 1;
    transition: all ease-in .5s;
}

.search-custom-container{
    padding-top: 20px;
    padding-bottom: 8px;
}

.search-bar{
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-color: var(--bg_default);
    box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.23);
    transition: background-color ease-in 0.5s;
    position: relative;
}

.search-field{
    width: 96%;
    padding: 12.9px 0 12.9px 40px; 
    background-color: transparent;
    border: 0;
}


.search-field:placeholder-shown{
    font-family: Nunito-Sans;
    font-size: 1em;
    padding-left: 40px;
}


.search-field:focus{
    font-family: Nunito-Sans;
    outline-width: 1px;
    font-size: 1em;
}

.search-bar span:nth-child(1){
    position: absolute;
    top: 15px;
    left: 11px; 
}

.search-icon{
    font-size: 1rem;
}

.search-options{
    display: flex;
    flex-wrap: wrap;
    width: 18%;
    border-left: 1px solid var(--lines-color);
    cursor: pointer;
    padding: 0 10px;
    transition: border-color ease-in 0.5s;
}

.search-options label{
    width: 100%;
    font-size: 0.7em;
    padding: 0 0 0 5px;
    transform: translateY(2px);
    transition: background-color ease-in 0.5s;
}

.search-options select{
    width: 100%;
    font-size: .9rem;
    border: 1px;
    border-radius: 10px;
    transform: translateY(-5px);
    transition: background-color ease-in 0.5s;
}

/* WEB TOPICS COURSES///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main{
    overflow: hidden;
    display: flex;
}

.web-topics-page{
    flex-shrink: 0;
    width: 100%;
    opacity: 1;
    transition-property: margin, opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

.main-custom-container{
    padding-top: 12.5px;
}

.main-custom-container h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--body-text);
    margin: 0 0 30px 0;
}

.web-topics-box-parent{
    padding-bottom: 4px;
}

.web-topics{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 24px) , 1fr));
    gap:35px 30px; /*2.29%*/
}

.web-topic-card{
    /* width:calc(20% - 24px);
    flex-shrink: 1;
    padding-left: 0;
    padding-right: 0; */
    transition: background-color ease-in 0.5s;
    background-color: var(--bg_default);
    border-radius: 10px;
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.23);
    cursor: pointer;
    text-decoration: none;
}

/* web topic card image control//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.card-thumbnail{
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.card-thumbnail img{
    width: 100%;
    height: 134.047px;
    object-fit: cover;
    background-color: var(--bg_default);
    vertical-align: middle;
}


/* Web topic card details style//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.card-custom-container{
    padding: 15px;
}

.card-details h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .8rem;
    font-weight: 400;
    /* line-height: normal;
    margin-bottom: 0; */
}

.card-details h5{
    height: 31.688px; /*DON'T TAMPER WITH THIS ---> IT HELPS ALIGN ALL RATING STARS ACCROSS ALL CARDS*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .9rem;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: bold;
}


/* default 4-star rating  ///////////////////////////////////////////////////////////////////////////////////////*/

.star-rating-box{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
}

.star-border{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: #d79500;
  width: 16px;
  height: 17px;
  position: relative;
}


.second-level-star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #d79500;
    width: 10px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.star-color-fill{ 
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--bg_default);
}

/* end of default 4-star rating  ///////////////////////////////////////////////////////////////////////////*/


/*Custom Star rating////////////////////////////////////////////////////////////////////////////////////////*/

/* End of custom Star rating////////////////////////////////////////////////////////////////////////////////////////*/

.card-details p{
    font-size: .8rem;
    color: gray;
}

/* FAVOURITES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.favourites-section{
    background-color: var(--bg_default);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
    transform: translateY(175px);
    transition: background-color ease-in 0.5s;
}

.favourites-section-container{
    padding-top: 12px;
}

.favourites-animation-forward{
    animation: favourites-rolling-up-animation forwards .5s ease-in;
}

.favourites-animation-reverse{
    animation: favourites-rolling-down-animation forwards .5s ease-in;
}

@keyframes favourites-rolling-up-animation{
    0%{
        transform: translateY(175px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes favourites-rolling-down-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(175px);
    }
}

.favourites-items{
    height: 160px;
}

.favourites-items h3{
    /* padding: 0 0 12px 0; */
    font-size: 1rem;
    font-weight: bold;
}

.favourites-items-container{
    display: flex;
    overflow: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.favourites-item{
    width: 121px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.favourite-card-thumbnail{
    width: 100%;
}

.favourite-card-thumbnail img{
    width: 100%;
    height: 60.500px;
    object-fit: cover;
    vertical-align: middle;
}

.favourite-card-details-container{
    padding: 8px;
}

.favourites-item h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9rem;
    line-height: 1.1;
    padding-right: 3px;
    font-weight: bold;
}

.favourites-item .star-rating-box{
    padding-top: 4px;
    margin-bottom: 0;
}

/* FOOTER///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Footer-message{
    width: 100%;
    padding: 25px 0 30px 0;
}

.Footer-message h6{
    color: var(--body-text);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color ease-in 0.5s;
}

.footer-heart{
    color: var(--heart-color);
    transform: translateY(7px);
    font-size: 1.5em;
}
