/* GLOBAL //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito-Sans;
    src: url(../../Vendor/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

:root{
    --brand-primary:#0768AC;
    --brand-secondary: #03C180;
    --bg_default:#1A1A1A;
    --bg_body:#282828;
    --lines-color:#000000;
    --body-text:#EDEDED;
    --heart-color:#DC143C;
}

.container{
    padding-inline:4%;
}

body{
    font-family: Nunito-Sans;
    background-color: var(--bg_body);
    transition: all ease-in 0.5s;
}

h3, h4, h5, h6, p{
    color: var(--body-text);
}

/* custom styles for Javascript to use////////////////////////////////////////////////////////////// */

.d-none{
    display: none;
}

.heart-icon-red-color{
    color: var(--heart-color);
}

/* custom styles for Javascript to use////////////////////////////////////////////////////////////// */


/* END OF GLOBAL///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* HEADER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header{
    box-shadow: 0px 0px 5px -1px rgb(0, 0, 0);
    background-color: var(--bg_default);
}

.page-modes{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title h1{
    font-size: 0.99rem;
    color: var(--brand-primary);
    font-weight: 600;
    cursor: pointer;
}

.modes-buttons{
    font-family: Nunito-Sans;
    font-size: 0.9rem;
    background-color: transparent;
    border: 1px solid #DDDDDD;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--body-text);
}

.mode-icon{
    transform:translateY(2px) ;
}

#dark-mode-label:hover{
    background-color: var(--body-text);
    color: var(--bg_default);
    border: 1px solid var(--body-text);
}


.page-modes-buttons input[type="checkbox"] {
    display: none;
}

/* BANNER SECTION/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.banner-section{
    background-color: var(--bg_default);
}

.banner{
    position: relative;
}

.banner-primary{
    width: 100%;
    height: 67.5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(47deg, rgba(7,104,172,1) 0%, rgba(5,156,146,1) 62%, rgba(7,104,172,0.1923144257703081) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.banner-secondary{
    width: 100%;
    height: 67.5px;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    background: linear-gradient(47deg, rgba(255,255,255,0) 0%, rgba(3,193,128,1) 44%);
}

.banner-custom-container{
    padding-bottom: 5px;
}

.banner-message{
    width: fit-content;
    margin: auto;
    transform: translateY(-15px);
    line-height: 1.2;
 
}

.banner-message h2{
    color: var(--brand-secondary);
    font-size: 1.279em;
    font-weight: 800;
}

.banner-message p{
    font-size: 1.01em;
    font-weight: 300;
}

/* SEARCH BAR/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.search-section{
    overflow: hidden;
    opacity: 1;
    transition: all ease-in .5s;
}

.search-custom-container{
    padding-top: 20px;
    padding-bottom: 8px;
}

.search-bar{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-color: var(--bg_default);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.23);
    position: relative;
}

.search-field{
    width: 94%;
    background-color: transparent;
    padding: 12.9px 0 12.9px 40px; 
    border: 0;
    color: var(--body-text);
}


.search-field:placeholder-shown{
    font-family: Nunito-Sans;
    font-size: 1em;
    padding-left: 40px;
    color: var(--body-text);
}


.search-field:focus{
    font-family: Nunito-Sans;
    outline-width: 1px;
    font-size: 1em;
    color: var(--body-text);
    outline-color: var(--body-text);
}

.search-bar span:nth-child(1){
    position: absolute;
    top: 15px;
    left: 11px; 
}

.search-icon{
    font-size: 1rem;
    color: var(--body-text);
}

.search-options{
    display: flex;
    flex-wrap: wrap;
    width: 18%;
    border-left: 1px solid var(--lines-color);
    cursor: pointer;
    padding: 0 10px;
}

.search-options label{
    width: 100%;
    font-size: 0.7em;
    padding: 0 0 0 5px;
    transform: translateY(6px);
    background-color: var(--bg_default);
    color: var(--body-text);
}

.search-options select{
    width: 100%;
    font-size: .9rem;
    border: 1px;
    border-radius: 10px;
    transform: translateY(-5px);
    background-color: var(--bg_default);
    color: var(--body-text);
}

/* WEB TOPICS COURSES///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main{
    overflow: hidden;
    display: flex;
}

.web-topics-page{
    width: 100%;
    opacity: 1;
    transition: all ease-in .5s;
}

.main-custom-container h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--body-text);
    margin: 12.5px 0 30px 0;
}

.web-topics-box-parent{
    margin-top: 10px;
    padding-bottom: 4px;
}

.web-topics{
    display: grid;
    grid-template-columns: minmax(17.71%, 20%) minmax(17.71%, 20%) minmax(17.71%, 20%) minmax(17.71%, 20%) minmax(17.71%, 20%);
    column-gap: 2.29%;
    row-gap:35px ;
}

.web-topic-card{
    background-color: var(--bg_default);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
    cursor: pointer;
}

/* web topic card image control//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.card-thumbnail{
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.card-thumbnail img{
    width: 100%;
    height: 134.047px;
    object-fit: cover;
    background-color: var(--body-text);
}


/* Web topic card details style//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.card-custom-container{
padding: 15px;
}

.card-details h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .8rem;
    font-weight: 400;
}

.card-details h5{
    height: 31.688px; /*DON'T TAMPER WITH THIS ---> IT HELPS ALL ALIGN RATING STARS ACCROSS ALL CARDS*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .9rem;
    line-height: 1.1;
    margin-bottom: 10px;
}


/* default 4-star rating  ///////////////////////////////////////////////////////////////////////////////////////*/

.star-rating-box{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
}

.star-border{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: #d79500;
  width: 16px;
  height: 17px;
  position: relative;
}


.second-level-star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #d79500;
    width: 10px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.star-color-fill{ 
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--bg_default);
}

/* end of default 4-star rating  ///////////////////////////////////////////////////////////////////////////*/


/*Custom Star rating////////////////////////////////////////////////////////////////////////////////////////*/

.web-topic-card:nth-child(2) .star-border:nth-child(4) .star-color-fill{ /* CSS star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 9px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(5) .star-border:nth-child(4) .star-color-fill{ /* Angular star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 10px;
    background-color: var(--bg_default);
}


.web-topic-card:nth-child(7) .star-border:nth-child(4) .star-color-fill{ /* Vue star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 9px;
    background-color: var(--bg_default);
}


.web-topic-card:nth-child(13) .star-color-fill{ /* SQL star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 6px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(14) .star-color-fill{ /* NoSQL star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 6px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(15) .star-color-fill{ /* REST APIs star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 3px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(17) .star-border:nth-child(4) .star-color-fill{ /* OAuth star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 8px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(18) .star-border:nth-child(4) .star-color-fill{ /* JSON star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 8px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(26) .star-border:nth-child(4) .star-color-fill{ /* Performance Optimization star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 3px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(27) .star-color-fill{ /* Cross-Browser Compatibility star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 5px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(30) .star-color-fill{ /* Testing and Debugging star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 6px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(32) .star-color-fill { /* DevOps star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 3px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(33) .star-color-fill, 
.star-color-fill-favourites{ /* Cloud Computing star rating */
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 5px;
    background-color: var(--bg_default);
}

.web-topic-card:nth-child(37) .star-border:nth-child(4) .star-color-fill{ /* Web Accessibility Initiative (WAI) star rating*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: -3px;
    left: 9px;
    background-color: var(--bg_default);
}

/* End of custom Star rating////////////////////////////////////////////////////////////////////////////////////////*/

.card-details p{
    font-size: .8rem;
    color: gray;
}

/* FAVOURITES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.favourites-section{
    background-color: var(--bg_default);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
    transform: translateY(175px);
}

.favourite-visibile{
    transform: translateY(0px);
}

.hide-favourites{
    transform: translateY(175px);
}

.favourites-animation-forward{
    animation: favourites-rolling-up-animation forwards .5s ease-in;
}

.favourites-animation-reverse{
    animation: favourites-rolling-down-animation forwards .5s ease-in;
}

@keyframes favourites-rolling-up-animation{
    0%{
        transform: translateY(175px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes favourites-rolling-down-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(175px);
    }
}

.favourites-items{
    width: 100%;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}
.favourites-item{
    width: 121px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.23);
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
}

.favourite-card-thumbnail{
    width: 100%;
}

.favourite-card-thumbnail img{
    width: 100%;
    height: 60.500px;
    object-fit: cover;
}

.favourites-items h3{
    width: 100%;
    padding: 12px 0 0 0;
    font-size: 1rem;
}

.favourites-item h5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: .9rem;
    line-height: 1.1;
    padding-left: 7px;
}

.favourites-item .star-rating-box{
    padding-left: 5px;
}

/* FOOTER///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Footer-message{
    width: 100%;
    padding: 25px 0 30px 0;
}

.Footer-message h6{
    color: var(--body-text);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.footer-heart{
    color: var(--heart-color);
    transform: translateY(7px);
    font-size: 1.5em;
}
