/* Global//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* End of Global////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.details-page{
    flex-shrink: 0;
    width: 100%;
    transition: opacity ease-in .5s;
    opacity: 1;
    height: fit-content;
}

.course-details-box{
    background-color: var(--body-text);
}


.details-page-container{
    padding-inline-start:19.29% ; /*17.29%*/
    display: flex;
}

.course-details{
    width: calc(50% - 30px);
    padding: 30px 10px 30px 0px;
    margin-right: 30px;
}

.course-details h4{
    color: var(--brand-secondary);
    font-weight: 400;
    font-size: inherit;
}

.course-details h5{
    color: var(--bg_default);
    font-size: 1.5rem;
    font-weight: bold;
}

.course-details .star-color-fill{
    background-color: var(--body-text);
}

.course-details .star-rating-box{
    margin-bottom: 20px;
}

.course-details p{
    color: var(--bg_default);
    font-size: 1.01rem;
}

.add-to-favourites-box p{
    color: black;
}

/* course card ////////////////////////////////////////////////////////////////////////////////////////////////// */

.details-page-card-contianer{
    margin-top: 30px;
    width: 320px;
    position: relative;
}

.details-page-card-contianer-smallscreen{
    display: none;
}

.details-page-card{
    background-color:var(--bg_default);
    width: 320px;
    padding: 2px;
    box-shadow: 0px 0px 14px -8px rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}

.details-page-card-thumbnail{
    height: 200px;
}

.details-page-card-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    vertical-align: middle;
}

.details-page-card-custom-container{
    padding:14px 14px;
}

.details-page-card-custom-container h4{
    padding: 0 0 11px 0 ;
    font-size: inherit;
}

.details-page-card-custom-container h4 span{
    font-weight: bold;
    font-size: inherit;
}

.details-page-card-custom-container h4 a{
    color: var(--brand-primary);
}

.add-to-favourites-box{
    padding: 20px 20px 10px 20px;
    border: 1px solid var( --lines-color);
}

.add-to-favourites-box p{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.add-to-favourites-box button{
    width: 100%;
    border: 0;
    text-align: center;
    margin:0 0 10px 0;
    padding:3px 0 17px 0;
    background-color: var(--brand-secondary);
    color:var(--bg_body);
    font-size: 1.25rem;
    box-shadow: 0px 0px 8px -5px rgb(0, 0, 0);
}

.details-page-heart{
    transform: translateY(10px);
    padding-left: 8px;
    font-size: 2rem;
}

.add-to-favourites-box h6{
    color: gray;
    font-size: .8rem;
    text-align: center;
    font-weight: 400;
}

/* course sub topics///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.details-page-sub-topics-container{
   padding-top: 30px;
}


.course-sub-topics{
    width: calc(50% - 30px);
    border: 1px solid var(--lines-color);
    border-radius: 5px;
    background-color: var(--bg_default);
}

.course-sub-topic{
    display: flex;
    border-bottom: 1px solid var(--lines-color);
    padding: 15px 5px 15px 30px;
    column-gap: 3%;
}

.course-sub-topic:last-child{
    border: 0;
}

.course-sub-topic h2{
    color: var(--body-text);
    font-size: 1.5em;
    font-weight: bold;
}

.course-sub-topic h3 {
    color: var(--body-text);
    font-size: 1rem;
    width: 95%;
    font-weight: 400;
}

.course-sub-topic .checkmark{
    font-size: 1.5rem;
    color: var(--brand-secondary);
    width: 5%;
}
