@media(max-width: 767px){
    .page-modes{
        height: 67px;
    }

    .page-title h1{
        font-size: 0.94rem;
    }

    .modes-buttons{
        padding: 5px 10px 0;
        font-size: .8rem;
    }

    .mode-icon{
        transform:translateY(0) ;
    }

    /* BANNER SECTION/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .banner-message{
        transform: translateY(5px);
    }

    .banner-custom-container{
        padding-bottom: 30px;
    }

    .banner-primary{
        height: 23.5px;
    }

    .banner-secondary{
        height: 23.5px;
    }

    .banner-message p{
        font-size: .95rem;
        font-weight: 300;
    }
    
    /* SEARCH BAR//////////////////////////////////////////////////////////////////// */

    
    .search-bar{
        flex-wrap: wrap;
    }

    .search-icon{
        font-size: 0.9em;
        transform: translateY(2px);
    }
    
    .search-field{
        width: 100%;
        padding: 15px 0 15px 40px; 
    }

    .search-field:placeholder-shown{
        font-size: 1rem;
    }

    .search-field:focus{
        font-size: 1rem;
    }

    .search-options{
        width: 50%;
        border-top: 1px solid #DDDDDD;
        border-left: 0;
        padding: 3px 0 6px 13px;
    }

    .search-icon{
        font-size: 1.01rem;
    }

    .search-options select{
        transform: translateY(0px);
        width: 90%;
    }

    .search-sort-option{
        border-right: 1px solid #DDDDDD;
    }

    .search-options label{
        font-size: 0.65rem;
        transform: translateY(0px);
    }
    

    /*  WEB TOPICS COURSES////////////////////////////////////////////////////////////////////////////// */

    .main-custom-container h3{
        font-weight: 700;
        font-size: 1.41rem;
    }

    .web-topics{
        grid-template-columns: minmax(100%, 20%);
        column-gap: 0;
    }

    /* Web topic card details style//////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .card-custom-container{
        margin-top: 0px;
        padding-inline: 4%;
    }

    /* default 4-star rating  ///////////////////////////////////////////////////////////////////////////////////////*/

    .star-border{
        width: 15px;
        height: 16px;
    }

    .second-level-star{
        width: 11px;
        height: 12px;
        top: 2px;
        left: 2px;
    }
        

    /* end of default 4-star rating  ///////////////////////////////////////////////////////////////////////////*/

    /*Custom Star rating////////////////////////////////////////////////////////////////////////////////////////*/

    .web-topic:nth-child(2) .star-border:nth-child(4) .star-color-fill{ /* CSS star rating*/
        top: -3px;
        left: 7px;
    }

    .web-topic:nth-child(5) .star-border:nth-child(4) .star-color-fill{ /* Angular star rating*/
        top: -3px;
        left: 8px;
    }

    .web-topic:nth-child(7) .star-border:nth-child(4) .star-color-fill{ /* Vue star rating*/
        top: -3px;
        left: 7px;
    }

    .web-topic:nth-child(15) .star-color-fill{ /* REST APIs star rating*/
        top: -1px;
        left: 1px;
    }

    .web-topic:nth-child(17) .star-border:nth-child(4) .star-color-fill{ /* OAuth star rating*/
        top: -3px;
        left: 6px;
    }

    .web-topic:nth-child(18) .star-border:nth-child(4) .star-color-fill{ /* JSON star rating*/
        top: -3px;
        left: 6px;
    }

    .web-topic:nth-child(33) .star-color-fill{ /* Cloud Computing star rating */
        top: -3px;
        left: 4px;
    }

    /* End of custom Star rating////////////////////////////////////////////////////////////////////////////////////////*/

    .card-details p{
        font-size: .75em;
    }

    /* DETAILS PAGE///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    /* course details section////////////////////////////////////////////////////////////////////////////////////////// */

    .course-details-box-container{
        display: block;
        padding: 0;
    }
    
    .course-details{
        padding: 15px;
        width: 100%;
    }
    
    /* course sub topics///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .details-page-sub-topics-container{
        padding: 0 15px;
    }

    .course-sub-topic h2{
        padding: 15px 0 15px 30px;
        color: var(--body-text);
    }
    
    .course-sub-topic p {
        padding-right: 5px;
    }

    /* details page's card///////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .details-page-card-contianer{
        position: unset;
        margin: auto;
        padding: 30px 0 15px 0
    }

    .details-page-card-contianer-largescreen{
        display: none;
    }

    .details-page-card-contianer-smallscreen{
        display: block;
    }

    .details-page-card{
        position: unset;
    }

}

@media(min-width: 768px) and (max-width: 799px){
    /* BANNER SECTION/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .banner-primary{
        height: 50px;
    }

    .banner-secondary{
        height: 50px;
    }

    .banner-message{
        transform: translateY(0);
    }

    .banner-custom-container{
        padding-bottom: 20px;
    }
    
    /* SEARCH BAR//////////////////////////////////////////////////////////////////////////////////////////////////// */

    .search-field{
        width: 60%;
    }

    .search-options{
        width: 20%;
    }

    .search-options select{
        width: 100%;
    }

    /*  WEB TOPICS COURSES////////////////////////////////////////////////////////////////////////////// */

    .web-topics{
        grid-template-columns: 31.04% 31.04% 31.04%;
        column-gap: 3.35%;
    }

    /* DETAILS PAGE//////////////////////////////////////////////////////////////////////////////////////////////// */

    /* course details section////////////////////////////////////////////////////////////////////////////////////////// */
    .course-details-box-container{
        padding: 0;
    }

    .course-details{
        padding: 20px;
        width: 56%;
    }

    /* details page's card///////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .details-page-card-contianer{
        position: unset;
        margin: 0;
        padding: 15px;
    }

    .details-page-card{
    position: unset;
    }

    /* course sub topics///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .details-page-sub-topics-container{
        padding: 0;
        margin: auto;
        width: 70%;
    }
    
    .course-sub-topic p {
        padding-right: 5px;
    }
}

@media(min-width: 800px) and (max-width: 911px){
    /* BANNER SECTION/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .banner-primary{
        height: 50px;
    }

    .banner-secondary{
        height: 50px;
    }

    .banner-message{
        transform: translateY(0);
    }

    .banner-custom-container{
        padding-bottom: 20px;
    }
    
    /* SEARCH BAR//////////////////////////////////////////////////////////////////////////////////////////////////// */

    .search-field{
        width: 60%;
    }

    .search-options{
        width: 20%;
    }

    .search-options select{
        width: 100%;
    }

    /*  WEB TOPICS COURSES////////////////////////////////////////////////////////////////////////////// */

    .web-topics{
        grid-template-columns: 31.04% 31.04% 31.04%;
        column-gap: 3.35%;
    }

    /* DETAILS PAGE//////////////////////////////////////////////////////////////////////////////////////////////// */

    /* course details section////////////////////////////////////////////////////////////////////////////////////////// */
    .course-details-box-container{
        padding: 0;
    }

    .course-details{
        padding: 30px;
        width: 56%;
    }

    /* details page's card///////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .details-page-card-contianer{
        position: unset;
        margin: 0;
        padding: 15px;
    }

    .details-page-card{
    position: unset;
    }

    /* course sub topics///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .details-page-sub-topics-container{
        padding: 0;
        margin: auto;
        width: 70%;
    }
    
    .course-sub-topic p {
        padding-right: 5px;
    }
}

@media(min-width: 912px) and (max-width: 1023px){
    /* BANNER SECTION/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .banner-primary{
        height: 50px;
    }

    .banner-secondary{
        height: 50px;
    }

    .banner-message{
        transform: translateY(0);
    }

    .banner-custom-container{
        padding-bottom: 20px;
    }
    
    /* SEARCH BAR//////////////////////////////////////////////////////////////////////////////////////////////////// */

    .search-field{
        width: 65%;
    }

    .search-options{
        width: 20%;
    }

    .search-options select{
        width: 100%;
    }

    /*  WEB TOPICS COURSES////////////////////////////////////////////////////////////////////////////// */

    .web-topics{
        grid-template-columns: minmax(31.043%, 33.333%) minmax(31.043%, 33.333%) minmax(31.043%, 33.333%);
        column-gap: 2.29%;
    }

    /* DETAILS PAGE//////////////////////////////////////////////////////////////////////////////////////////////// */

    /* course details section////////////////////////////////////////////////////////////////////////////////////////// */
    .course-details-box-container{
        padding: 0;
    }

    .course-details{
        padding: 30px;
        width: 56%;
    }

    /* details page's card///////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .details-page-card-contianer{
        position: unset;
        margin: auto;
        padding: 15px;
    }

    .details-page-card{
        position: unset;
    }

    /* course sub topics///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .details-page-sub-topics-container{
        padding: 0;
        margin: auto;
        width: 70%;
    }
    
    .course-sub-topic p {
        padding-right: 5px;
    }
}

@media(min-width: 1024px) and (max-width: 1279px){
    /* BANNER SECTION/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .banner-primary{
        height: 50px;
    }

    .banner-secondary{
        height: 50px;
    }

    .banner-message{
        transform: translateY(0);
    }

    .banner-custom-container{
        padding-bottom: 20px;
    }
    
    /* SEARCH BAR//////////////////////////////////////////////////////////////////////////////////////////////////// */

    .search-field{
        width: 65%;
    }

    .search-options{
        width: 20%;
    }

    .search-options select{
        width: 100%;
    }

    /*  WEB TOPICS COURSES////////////////////////////////////////////////////////////////////////////// */

    .web-topics{
        grid-template-columns: minmax(22.71%, 25%) minmax(22.71%, 25%) minmax(22.71%, 25%) minmax(22.71%, 25%);
        column-gap: 2.29%;
    }

    /* DETAILS PAGE//////////////////////////////////////////////////////////////////////////////////////////////// */

    /* course details section////////////////////////////////////////////////////////////////////////////////////////// */
    .course-details-box-container{
        padding: 0;
    }

    .course-details{
        padding: 30px;
        width: 56%;
    }

    /* course sub topics///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .details-page-sub-topics-container{
        padding:0 0 0 30px;
        margin-right: auto;
        width: 53%;
    }
    
    .course-sub-topic p {
        padding-right: 5px;
    }
}
@media(min-width: 1280px) and (max-width:1439px){
    /*  WEB TOPICS COURSES////////////////////////////////////////////////////////////////////////////// */
    .web-topics{
        grid-template-columns: minmax(22.71%, 25%) minmax(22.71%, 25%) minmax(22.71%, 25%) minmax(22.71%, 25%);
        column-gap: 2.29%;
    }
}